.cards-list--grid {
  display: block;
  max-width: none;
  margin: 2rem auto;

  header {
    h2 {
      width: 100%;
      margin: 1rem 0;
      line-height: 1;
      text-align: center;
    }
  }

  .cards-list__container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
  }

  .card {
    flex: 1 1 30%;
    width: 30%;
  }
}
