.movie-hero {
  position: relative;
  width: 100%;

  img,
  figure {
    width: 100%;
  }

  figure{
    position: relative;
  }

  img {
    object-fit: cover;
  }

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    padding: 2rem;
    background-image: linear-gradient(to right,rgba(0,0,0,.4) 0,rgba(0,0,0,0) 100%);
    background-blend-mode: multiply;
    overflow: hidden;

    h2 {
      font-size: 3rem;
    }

    p {
      max-height: calc(1rem * #{$baseline} * 3);
      overflow: hidden;
    }
  }
}
