.movie-card {
  position: relative;
  width: 342px;
  height: 513px;

  a,
  figure {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  header {
    position: absolute;
    bottom: 0;
    display: none;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    padding: 0 1rem;
  }

  a {
    &:hover {
      header {
        display: flex;
      }
    }
  }
}
