.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;


  .movie-card {
    margin: 0 2rem 2rem 0;
  }
}


.movie-list--scrollable {
  flex-wrap: nowrap;
  padding-right: 0;
  margin: 2rem 0;
  //background-color: $color-total-black;

  header {
    margin: 1.5rem 0;
    padding: 2rem;
    background-color: $color-total-black;
    border-radius: $global-radius;
  }

  .movie-list__container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    scrollbar-color: $body-background;
    scrollbar-width: 10px;
    scrollbar-gutter: always;
    overflow-x: scroll;
    padding: 0 30px;
  }

  .movie-card {
    margin: 1.5rem;
    box-shadow: -1rem 0 2rem $color-total-black;

    &:not(:first-child) {
      margin-left: -10px;

      @include media('>=tablet') {
        margin-left: -130px;
      }
    }

    &:hover {
      transform: translate(0, -1rem);
    }

    &:focus-within ~ .mini-card,
    &:hover ~ .movie-card {
      transform: translateX(130px);
    }
  }
}
