.tabbed-scrollable-list {
  nav {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    button {
      position: relative;
      @include branded-heading;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0;
      border: 0;
      color: $color-white;
      background-color: transparent;
      text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.50);

      &[aria-expanded="true"]{
        color: $color-brand;
      }

      &::after {
        content: '';
        position: relative;
        display: inline-block;
        width: 100px;
        height: 2px;
        margin: 0 8px;
        background-image: linear-gradient(90deg, $color-brand 0%, $color-white 100%);
        box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, 0.50);
      }

      &:last-child::after{
        display: none;
      }

      &:hover,
      &:active,
      &:focus {
        color: $color-brand;
      }
    }
  }
}
