.button,
.button-link {
  display: inline-block;
  border: 0;
  font-weight: 700;
  letter-spacing: 0;
  background-color: $color-light;
  color: $color-dark-gray;
  text-transform: none;
  transition: all .2s ease-out;
  font-family: $body-font-family;

  @if $use-variable-font {
    @supports (font-variation-settings: normal) {
      font-family: $variable-font-family;
    }
  }

  font-size: 1rem;
  line-height: 1.5;


  &:hover,
  &:focus,
  &:active {
    background-color: $color-dark-gray;
    color: $color-white;
  }
}
