.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 1rem;
  border: 0;
  border-radius: $global-radius;
  background-color: $color-dark;
  transition: all .2s ease-out;
  font-family: $body-font-family;

  @if $use-variable-font {
    @supports (font-variation-settings: normal) {
      font-family: $variable-font-family;
    }
  }

  font-size: 1rem;
  line-height: 1;
  font-weight: 700;
  letter-spacing: normal;
  color: $color-white;
  text-transform: none;

  &:hover,
  &:focus,
  &:active {
    background-color: $color-brand;
    color: $color-black;
  }

  // inline svg
  svg {
    width: 1.5rem;
    height: 1.5rem;
    margin-right: .5rem;
  }
}
